/* Tag Selecters */

h1 {
  color: red;
  font-size: 50px;
}

img:hover {
  background-color: gold;
}

/* Class Selecters */


.Broc {
  background-color: red;
}

.circular {
  border-radius: 30%;
}

#Heading:hover {
  color: blue;
}
